* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Add header here */
header {
  display: flex;
  background-color: #1A5276;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 1;
  padding: 10px 20px 10px 0px;
  }
header h1 {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 10px 10px 0;
  padding: 7px 5px;
  width: 30%;
  background-color:#cc0099;
  text-align: right;
}
header a {
  text-decoration: none;
  color: #1a5276;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}
header nav ul li a {
  margin: 30px;
  font-weight: lighter;
  font-size: 1.25vw;
  padding: 0px 5px 3px 5px;
  color: #cc0099;
  font-weight: bold;
  border-bottom: 1px solid #CC0099;
}
/* Hero Style Start */
.hero {
  height: 200px;
  width: 100%;
  margin-bottom: 0px;
  background-image: url("../images/Crowd.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  }
.hero h2 {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 25px;
  padding: 7px 5px;
  background-color:#cc0099;
  text-align: center;
  width: auto;
  height: 30px;
  top: 80px;
  right: 0;
}
/* Hero End */
/* Experience Styles Begin */

.grid-container-wrapper {
  background-color: #e5e7e9;
  width: 100%;
  justify-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr) auto;
  grid-gap: 20px;
  width: 80%;
  margin-left: 10px;
  padding-top: 10px;
  }
.item1-about {
  grid-column: 1 / 1;
}
.item2-about {
  background: url(../images/me.jpg);
}
.item3-about {
  grid-column: 3 / -1;
}
.item4-work {
  grid-column: 1 / 1;
  grid-row: 2 / span 3;
  border-right: 2px solid #1a5276;
}
.item5-work {
  grid-column: 2 / span 2;
  grid-row: 2/ span 2;
  background: url(../images/Run-Buddy-Image.png);
  position: relative;
}
/* Add hack for adding link to background image */
#gitBuddy {
  background-image: url(https://mofletch.github.io/Run-Buddy/);
  display: block;
  height: 650px;
  text-indent:-9999px;
}
.item6-work {
  grid-column: 2;
  grid-row: 4;
  background: url(../images/Code-Refactor-Page.png);
  position: relative;
}
/* Add hack for adding link to background image */
#gitHoriseon {
  background-image: url(https://mofletch.github.io/Code-Refactor/);
  display: block;
  height: 300px;
  text-indent: -9999px;
}
.item7-work {
  grid-column: 3;
  grid-row: 4;
  background: url(../images/Summer-Placeholder.jpg);
  position: relative;
}
.item8-work {
  grid-column: 4;
  grid-row: 2;
  background: url(../images/Fall-Placeholder.jpg);
  position: relative;
}
.item9-work {
  grid-column: 4;
  grid-row: 3;
  background: url(../images/Winter-Placeholder.jpg);
  position: relative;
}
.item10-contact {
  grid-column: 1;
  grid-row: 5;
}
.item11-contact {
  grid-column: 2;
  grid-row: 5;
}
.item12-contact {
  grid-column: 3;
  grid-row: 5;
}
.item13-contact {
  grid-column: 4;
  grid-row: 5;
}
.item14-resume {
  grid-column: 1;
  grid-row: 6;
}
.item15-resume {
  grid-column: 2 / -1;
  grid-row: 6;
}
.photo {
  border: 5px solid #1a5276;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.copy {
  font-size: 20px;
}
.text-block {
  position: absolute;
  bottom: 20px;
  left: 0px;
  background-color: #c00099;
  color: white;
  padding-left: 10px;
  padding-right: 20px;
}
.title {
  font-size: 30px;
  font-weight: bold;
  justify-self: flex-end;
  padding: 0 15px 0 0;
}
.copydata {
  justify-self: center;
  align-self: center;
}
.border-right {
  border-right: 2px solid #1a5276;
}
/* Experience Styles End */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header nav {
    width: 100%;
    justify-content: left;
    position: relative;
  }
  header h1 {
    font-size: 20px;
    text-align: center;
    margin: 10px 10px;
    padding: 7px 7px;
    width: 100%;
    }
  header nav ul {
    text-align: center;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 15px;
    }
  .hero {
    padding: 0;
    height: 100px;
    }
  .hero h2 {
    text-align: center;
    margin: 10px 10px;
    padding: 7px 7px;
    width: 100%;
  }
  .text-block {
    font-size: 12px;
    }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    .grid-container {
      display: block;
      grid-template-rows: auto;
      grid-gap: 20px;
      width: 100%;
      padding: 20px;
      }
    .header {
        position: relative;
      }
    .item2-about {
      font-size: 15px;
    }
    .border-right {
      border-right: none;
    }
    .photo {
      border: none;
      margin: 0 0 10px 0;
      height: 300px;
    }
    .title {
      padding: 20px 0 10px 0;
      margin: 0 0 10px 0;
      text-align: center;
      border-bottom: 5px solid #1a5276;
    }
    .copy {
      text-align: center;
    }
  }
/* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 575px) {
    header nav ul li a {
      margin: 10px;
    }
    .item11-contact {
      font-size: 12px;
    }
    .item12-contact {
      font-size: 12px;
    }
    .item13-contact {
      font-size: 12px;
    }
  }